<a href="https://colab.research.google.com/github/gabisilvano/Airbnb-data-analysis-Paris/blob/master/Paris_Airbnb_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
  <img alt="Gabi Silvano Logo" width="17%"  src="https://gabisilvano.com/wp-content/uploads/2020/08/ap01-original-horizontal-1-6.png">
</p>

#Airbnb data analysis - Paris


Airbnb was the biggest hotel chain without having any hotel! 


In 2018 the company had hosted the amount of 300.000 million peoples. Nowadays, times are complicated with Covid19, and the company is struggling like most of the companies that work with tourism.



One great thing that Airbnb does is to let their data open for everyone who what to use and study the data like data analysis, and machine learning applications, the dataset can be found at [Inside Airbnb](http://insideairbnb.com/get-the-data.html).


<center><img alt="Analisando Airbnb" width="15%" src="https://www.area360.com.au/wp-content/uploads/2017/09/airbnb-logo.jpg"></center>


**This *notebook* is to analyze the dataset from Paris.**

##Obtaining data

All the data at this project came from Inside Airbnb. 

For the exploratory analysis will be using the file bellow:

* `listings.csv` - *Summary information and metrics for listings in Paris (good for visualizations).*

In [2]:
#importing the packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
#importing the dataset from listings.csv to a dataframe

df = pd.read_csv("http://data.insideairbnb.com/france/ile-de-france/paris/2020-06-11/visualisations/listings.csv")


##Data analysis

Here we will see how the data is organized in this project.

**Variables dictionary:**

* `id`
* `name`
* `host_id` 
* `host_name` 
* `neighbourhood_group` 
* `neighbourhood` 
* `latitude` 
* `longitude` 
* `room_type` 
* `price` 
* `minimum_nights` 
* `number_of_reviews` 
* `last_review` 
* `reviews_per_month`
* `calculated_host_listings_count`
* `availability_365`


Let's see the first rows of the dataset.

In [4]:
#show the first rows
df.head()

     id  ... availability_365
0  2577  ...              365
1  3109  ...              365
2  4890  ...               55
3  5396  ...               90
4  7397  ...              288

[5 rows x 16 columns]